<!DOCTYPE html>

<html>
    <head>
        
        <meta charset="UTF-8">
        <title>
            {% block pageTitle %}
                layout.title
            {% endblock %}
        </title>
        {#
            
        #}
        {% block pageHeaders %}
           <link rel="stylesheet" href="microStore.css"/>
            <script src='../jquery/jquery.js'></script>
            <script src='../twitter-bootstrap/js/bootstrap.js'></script>
           <link rel="stylesheet" href="../twitter-bootstrap/css/bootstrap.css"/>
        {% endblock %}
    </head>
    <body>
        {% include 'pureVirtual/bars/topBar.html.twig' %}
        <div  class='container-fluid'>
            {% block pageContent %}
                    Text de base
            {% endblock %}
        </div>
        {% block pageFooters %}
        {% endblock %}
    </body>
</html>